body{line-height:1.4;
    color:#333;
    font-family:Helvetica,Arial,sans-serif;
    background:#333744;
}

h2{
    color:#333333;
}
/* .log-form{
    background-color: lightcyan;
    width: 350px;
    margin:auto;
    margin-top: 70px;
    padding:100px 100px;
    position: relative;
    border:1px lightseagreen dashed;
} */
form{
    width: 300px;
    margin:auto;
    margin-top: 100px;
    padding:40px 6px;
    text-align: center;
    position: relative;
    border:1px lightseagreen dashed;
    border:1px lightseagreen dashed;
    background:#F7F7FA;
}
input{
    margin: 6px;
    width: 200px;
    height: 40px;
    border:1px lightseagreen solid;
}
button{
    background:#7C5CBF;
    color:#fff;
    margin: 20px;
    margin-top: 16px;
    width: 200px;
    height: 40px;
    border:1px lightseagreen solid;
    font-size: large;
    cursor: pointer;
    transition:background .3s ease;
    cursor:pointer;
}
button:hover{background:#6b47b8}
/* button{
    cursor:pointer;
    padding:12px;
    background:#7C5CBF;
    border:none;
    color:#fff;
    font-size:16px;
    transition:background .3s ease
} */

h2{
    margin: 16px;
    margin-left: 45px;
    color:green ;
}
a {
    text-decoration: none;
    color:#333333;
}
